<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                {{!-- <div class="blog__sidebar">123</div> --}}
            </div>
            <div class="col-lg-12 col-md-12">
                <!--8-7-->
                <div class="row">

                    {{#each class}}
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <!--6-6-6-->
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{pathImg}}" alt="" class="image">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{createdAt}}</li>
                                    {{!-- <li><i class="fa fa-comment-o"></i> </li> --}}
                                </ul>
                                <h5><a href="#">{{name}}</a></h5>
                                <p>{{descriptionshort}} </p>
                                <a href="/myclass/{{_id}}" class="blog__btn">LEARN MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="blog__item__text">
                                <a href="/myclass/addcourse" class="blog__btn">ADD YOUR COURSES <span class="arrow_right"></span></a>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>