<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="../img/blog/details/details-hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>{{Product.name}}</h2>
                    <ul>
                        <li>{{Product.author.name}}</li>
                        <li>{{Product.createdAt}}</li>
                        <li>Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
    
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
         <div class="row">
          <!--  <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                    </div>
                    <div class="blog__sidebar__item">
                        <h4 style="color:green">Danh Sach Khoa Hoc</h4>
                        <ul>
                            <li><a href="#">All</a></li>
                            <li><a href="#">Beauty (20)</a></li>
                            <li><a href="#">Food (5)</a></li>
                            <li><a href="#">Life Style (9)</a></li>
                            

                        </ul> 
                    </div>
                    
                </div> 
            </div>-->
            <div align=”center”  ><!-- class="col-lg-7 col-md-7 order-md-1 order-1" -->
                <div class="blog__details__text">
                    <!--<img src="img/blog/details/details-pic.jpg" alt="">-->
                     <div id="test">
                {{#each Product.video}}
                    <iframe width="1000" height="500" src="{{this}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {{/each}}    
               </div>
                    <p>{{Product.descriptionfull}}</p>
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src={{Product.pathImg}} alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>{{Product.author.name}}</h6>
                                    <span>{{Product.descriptionshort}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row"><!-- dat comment o day -->     
                <div class="col-lg-12">
                <div >
                    <ul class="nav nav-tabs" role="tablist" >
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Leave a Comment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="false">Read Comment</a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <!--dat file comment -->
                                <div id="respond">



  <form action="/mycourse/{{Product._id}}" method="post" id="commentform">


    <label for="comment" class="required">Your message</label>
    <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>

    <!-- comment_post_ID value hard-coded as 1 -->
    <input type="hidden" name="comment" value="1" id="comment_post_ID" />
    <input name="submit" type="submit" value="Submit comment" />

  </form>

     </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <ul>
                                    
                                   {{#each Product.comments}}
                                   <li><b>{{this.id}}</b></li>
                                  <p>{{this.comment}}</p>
                                {{/each}}
                                                      
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
               </div>
								
               
								
                
            </div>
        </div>
    </div>
    
</section>
<!-- Blog Details Section End -->
