<h1>Count: {{Count}}</h1>
<label for="">
    <div>
        {{#each Category}}
            <h1>{{this.name}}</h1>
            <h1>{{this._id}}</h1>
        {{/each}}
    </div>
</label>
<label for="">
    <div>
        {{#each Product}}
            <h1>{{this.name}}</h1>
        {{/each}}
    </div>
</label>
                <div class="d-flex justify-content-center">
                    <nav class="navbar navbar-light">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item">
                                <a class="page-link" href="/category/page/{{pagePrevious}}">
                                    <i class="fas fa-arrow-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/category/page/{{pagePrevious}}">{{pagePrevious}}</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="">{{pageNow}} <span class="sr-only">page</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/category/page/{{pageNext}}">{{pageNext}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/category/page/{{pageNext}}">
                                    <i class="fas fa-arrow-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                        <p class="pagination justify-content-end mb-0"></p>
                    </nav>
                </div>