<!-- Product Details Section Begin -->
<div class="container">
    <div class="row fads" style="font-size: 14px; padding-top:20px">
        <a href="/" style="padding-right:20px ;"><span>Home</span></a><span>></span>
        <a href="/product/Allproduct?page=1"
            style="padding-right:20px ;padding-left:20px"><span>Product</span></a><span>></span>
        <a href="/product/Allproduct?page=1"
            style="padding-right:20px ;padding-left:20px"><span>{{Product.name}}</span></a>
    </div>
</div>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-2" style="background-color: #F3F6FA;">
                <div class="product__details__pic">
                    <div class="product__details__pic__item ">
                        <img class="product__details__pic__item--large border2 border-dark"
                            style="border-radius: 30px; height: 450px" src={{Product.pathImg}} alt="">
                    </div>
                    <hr style="border: solid 1.5px;">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Video demo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"
                                    aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding-left: 40px;">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6 style="font-size: medium;">Products Description</h6>
                                    <p>{{{Product.descriptionfull}}}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6 style="font-size: medium;">Products video demo</h6>
                                    {{#each Product.video}}
                                    {{#if @first}}
                                    <iframe style='height: 380px; width: 750px; object-fit: contain' src="{{this}}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                    {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6 style="font-size: medium;">Products Infomation</h6>
                                    <p>{{Product.author.name}}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6 style="font-size: medium;">Products Review <span
                                            style="font-weight:500;">({{Product.comment.length}} comment)</span> </h6>
                                    {{#each Product.comment}}
                                    <ul>
                                        <li>
                                            <p>{{this.iduser}}</p>
                                            <p>{{{this.com}}}</p>
                                        </li>
                                    </ul>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" style="margin-top: 75px;">
                <div class="product__details__text">
                    <h3>{{Product.name}}</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 rating)</span>
                        <span>{{Product.comment.length}} comments</span>
                    </div>
                    <div class="product__details__price">${{Product.price}}<a href="/"><button style="float:right"
                                class="btn btn-outline-danger"><i class="far fa-heart"></i></button></a></div>
                    <div class="row">
                        <button class="btn btn-danger btn-lg btn-block"><span onclick="AddToCart(`{{Product._id}}`)"
                                class="add-to-cart" data-id="{{id}}"><i class="fa fa-shopping-cart"
                                    aria-hidden="true"></i>
                                ADD TO CARD</span></button>
                        <button class="btn btn-secondary btn-lg btn-block"><span onclick="AddToCart(`{{Product._id}}`)"
                                class="add-to-cart" data-id="{{id}}"><i class="fab fa-amazon-pay"> BUY NOW
                                </i></span></button>
                    </div>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Author</b><a href="/product/search?author{{Product.author.name}}=&page=1">
                                <span>{{Product.author.name}}</span></a></li>
                        {{#each Category}}
                        <li><b>Category</b> <a
                                href="/product/search?namecategory={{this.name}}&page=1"><span>{{this.name}}</span></a>
                            {{/each}}
                        <li><b>Ship</b> <span>Free</span></li>
                        <li><b></b>
                            <div class="share" style="float: left;padding-left: 50px;">
                                <a href="/"><button class="btn btn-outline-primary"><i
                                            class="fa fa-facebook"></i></button></a>
                                <a href="/"><button class="btn btn-outline-info"><i
                                            class="fa fa-twitter"></i></button></a>
                                <a href="/"><button class="btn btn-outline-danger"><i
                                            class="fa fa-instagram"></i></button></a>
                                <a href="/"><button class="btn btn-outline-success"><i
                                            class="fa fa-pinterest"></i></button></a>
                            </div>
                        </li>
                    </ul>
                    <a href="/">
                        <button class="btn btn-danger btn-lg btn-block" style="margin-top:70px"><span><i
                                    class="fa fa-phone" aria-hidden="true"></i>
                                Hotline: 038 888 888</span></button>
                    </a>
                </div>
            </div>
            {{!-- <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Description
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Reviews <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>{{Product.descriptionfull}}</p>
                                <iframe style='height: 380px; width: 750px; object-fit: contain' src="{{Product.video}}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>{{Product.descriptionfull}}</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>{{Product.descriptionfull}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div style="margin-top:5rem;">
            <section class="categories">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title related__product__title">
                            <h2>Related Product</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="categories__slider owl-carousel">
                            {{#each productRelated}}
                            <div class="col-lg-3">
                                <div class="categories__item set-bg border2 border-dark" data-setbg={{this.pathImg}}
                                    style="border-radius: 10px; border:3px">
                                    <h5>
                                        <a href="/product/search?namecategory={{this.category.name}}&page=1" style="border:solid gray 1px;">{{this.name}}</a>
                                        
                                    </h5>
                                </div>
                                <div class="details card text-center" style="font-size:medium">
                                    <p >${{this.price}}</p>
                                    <p>{{this.comment.length}} comments</p>
                                    <p>{{this.comment.length}} ratings</p>
                                </div>
                                <div class="bt_demo" style="display: flex;">
                                    <button type="button" class="btn btn-success mx-auto"><a
                                            href="/product/details/{{this._id}}"><span
                                                style="color: aliceblue;font-size: 16px">See
                                                more</span></a></button>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- Related Product Section End -->
<div aria-live="polite" aria-atomic="true" style="min-height: 200px;position:fixed; bottom:0px; right:0px;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header" style="background: green; color: white;">
            <img src="/img/brand/favicon.png" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Notification</strong>
            <small>Just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="false">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Product has been successfully added to the cart!
        </div>
    </div>
</div>