<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each list}}
                            <tr id="{{productlist._id}}"`>
                                <td class="shoping__cart__item">
                                    <img src="{{productlist.pathImg}}" height="100px" alt="">
                                    <h5>{{productlist.name}}</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    {{productlist.price}}
                                </td>
                                <td class="shoping__cart__price">
                                    {{productlist.discount}}
                                </td>
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close" onclick="RemoveCart(`{{productlist._id}}`,`{{productlist.price}}`,`{{productlist.discount}}`)"></span>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="shoping__discount">
                    <form>
                        <p><img src="/img/icons/common/paypal.jpg" class="icon"></p>
                        <p><img src="/img/icons/common/vnpay.jpg" class="icon"></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="shoping__checkout">
                    <b><h3>Cart Total:</h3></b>
                    <b><center><h3 id="totalprice">{{total}}$</h3></center></b>
                    <p></p>
                    <div class="dropdown"><center>
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payment</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form action="/pay" method="POST">
                                    <a class="dropdown-item" href="/pay">Paypal</a></form>
                                    <a class="dropdown-item" href="#">VNPay</a>
                                    <a class="dropdown-item" href="#">Other</a>
                                </div></center>
                            </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->