<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{profile}}" href="../profile/">
                            <i class="ni ni-single-02 text-danger"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{statistic}}" href="../statistic/">
                            <i class="ni ni-chart-bar-32 text-primary"></i>
                            <span class="nav-link-text">Statistic</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{product}}" href="../product-management/1">
                            <i class="ni ni-bag-17 text-info"></i>
                            <span class="nav-link-text">Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{client}}" href="../client-management/1">
                            <i class="ni ni-badge text-warning"></i>
                            <span class="nav-link-text">Clients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{business}}" href="../business-management/1">
                            <i class="ni ni-money-coins text-yellow"></i>
                            <span class="nav-link-text">Bills</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
            </div>
        </div>
    </div>
</nav>