<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="/img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="/cart"><i class="fas fa-cart-plus"></i> <span id="cart-badge">{{totalQuantity}}</span></a></li>
            <li>
                <div class="header__top__right__auth">
                    <a href="/login/?retUrl=/"><i class="fa fa-user"></i> Login</a>
                </div>
            </li>
        </ul>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/product/Allproduct?page=1"><i class="fas fa-store"></i>Shop</a></li>
            <li><a href="#"><i class="fas fa-columns"></i>Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="/shop-details">Shop Details</a></li>
                    <li><a href="/cart">Shoping Cart</a></li>
                    <li><a href="/checkout">Check Out</a></li>
                    <li><a href="/blog-details">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="/blog"><i class="fab fa-blogger"></i>Blog</a></li>
            <li><a href="/contact"><i class="fas fa-voicemail"></i>Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
</div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="/"><img src="/img/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-5">
            <nav class="header__menu">
                <ul>
                    {{!-- <li class="active"><a href="/"><i class="fas fa-home"></i>Home</a></li> --}}
                    <li class="{{ShopGrid}}"><a href="/product/Allproduct?page=1"><i class="fas fa-store"></i>Shop</a>
                    </li>
                    <li><a href="#"><i class="fas fa-columns"></i>Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="/shop-details">Shop Details</a></li>
                            <li><a href="/cart">Shoping Cart</a></li>
                            <li><a href="/checkout">Check Out</a></li>
                            <li><a href="/blog-details">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog"><i class="fab fa-blogger"></i>Blog</a></li>
                    <li><a href="/contact"><i class="fas fa-voicemail"></i>Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4">
            <div class="header__cart">
                <div class="header__top__right__auth">
                    <b><a href="/login/?retUrl=/"><i class="fa fa-user"></i>
                            {{#if User}}
                            {{#each User}}
                            {{email}}
                            {{/each}}
                            {{else}}
                            Login
                            {{/if}}
                        </a></b>
                </div>
                <ul>
                    {{#if User}}
                    <li><a href="/login/logout">Logout</a></li>
                    {{/if}}
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="/cart"><i class="fas fa-cart-plus"></i></i> <span
                                id="cart-badge">{{totalQuantity}}</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All</span>
                    </div>
                    <ul>
                        <li><a href="/product/Allproduct?page=1">All</a></li>
                        {{#each AllCategory}}
                        <li><a href="/category/{{this._id}}/1">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <select id="level" name="level" class="ui dropdown border border-success">
                    <option value="1">Name product</option>
                    <option value="2">Category </option>
                    <option value="3">Price</option>
                    <option value="4">Author </option>
                </select>
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form onsubmit="return searchByNameProduct(event)">
                            <input type="text" id="nameproduct" name="nameproduct" placeholder="What do you need?"
                                style="width: 50%">
                            <button type="submit" id="searchButton" onclick="searchByNameProduct()"
                                style="position: unset" ; class="site-btn">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="hero__search__phone">
                    <div class="hero__search__phone__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="hero__search__phone__text">
                        <h5>+84123456789</h5>
                        <span>support 24/7 time</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Hero Section End -->